.search-bar-container {
  width: 100%;
}

.search-bar {
  width: 100%;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  border-radius: 1.5rem;
  background-color: #141921;
  padding: 1.5rem;
}

.search-bar input {
  width: 100%;
  height: 100%;
  background-color: #141921;
  border: none;
}

.search-bar input::placeholder {
  color: #52555a;
  font-size: 1rem;
  font-weight: 500;
}

.icon-button {
  background-color: #141921;
  border: none;
}
